.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
}

.product-page-title {
  padding: 0 1rem;
}

.product-card {
  width: calc(25% - 70px);
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.product-card img {
  width: 50%;
  height: auto;
}

.product-card-details {
  padding: 10px;
}

.product-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card-description {
  font-size: 1rem;
  margin-bottom: 10px;
}

.product-card-price {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card-button:hover {
  background-color: #0062cc;
}

.show-all-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.show-all-button:hover {
  background-color: rgb(32, 32, 177);
}